.autocomplete-wrapper {
  position: relative;
  display: inline-block;
}

.autocomplete-panel {
  position: absolute;
  top: 46px;
  left: 4px;
  max-width: 220px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

.autocomplete-panel .autocomplete-option {
  background: none;
  margin: 0px;
  width: 100%;
  padding: 8px 20px;
}

.autocomplete-panel .autocomplete-option:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.autocomplete-panel .autocomplete-option.active {
  background-color: #1073fa;
  color: white;
}
