<div class="row">
  <div class="col-sm-11">
    <app-auto-filter
      #categoryFilter
      id="categoryFilter"
      [dataset]="categories$ | async"
      [transformer]="transformerFn"
      placeholder="Select category"
    ></app-auto-filter>

    <app-auto-filter
      [hidden]="(categoryFilter.value?.children ?? []).length === 0"
      #subCategoryFilter
      id="subCategoryFilter"
      [dataset]="categoryFilter.value?.children ?? []"
      [transformer]="transformerFn"
      placeholder="Select subcategory"
    ></app-auto-filter>

    <select #difficulty id="difficultySelect">
      <option>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>

    <button
      class="primary"
      id="createBtn"
      (click)="
        createQuiz(
          categoryFilter.value?.id,
          subCategoryFilter.value?.id,
          difficulty.value
        )
      "
    >
      Create
    </button>
  </div>
</div>
<div class="row">
  <app-quiz
    [questions]="questions$ | async"
    [categoryId]="currentCategory"
    [difficulty]="currentDifficulty"
  ></app-quiz>
</div>
