<div class="row">
  <div class="col-sm-11">
    <form [formGroup]="form" #formDirective="ngForm" (ngSubmit)="createQuiz()">
      <app-auto-filter
        id="categoryFilter"
        [options]="categories$ | async"
        [displayFn]="displayFn"
        placeholder="Select category"
        formControlName="category"
      ></app-auto-filter>

      <app-auto-filter
        [hidden]="subCategories.length === 0"
        id="subCategoryFilter"
        [options]="subCategories"
        [displayFn]="displayFn"
        placeholder="Select subcategory"
        formControlName="subcategory"
      ></app-auto-filter>

      <select #difficulty id="difficultySelect" formControlName="difficulty">
        <option [value]="''" disabled>Select difficulty</option>
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
      </select>

      <button class="primary" id="createBtn">Create</button>

      <p
        class="error"
        *ngIf="formDirective.submitted && form.controls.category.invalid"
      >
        Please select a category
      </p>
      <p
        class="error"
        *ngIf="formDirective.submitted && form.controls.subcategory.invalid"
      >
        Please select a subcategory
      </p>
      <p
        class="error"
        *ngIf="formDirective.submitted && form.controls.difficulty.invalid"
      >
        Please select a difficulty
      </p>
    </form>
  </div>
</div>
<div class="row">
  <app-quiz
    [questions]="questions$ | async"
    [categoryId]="currentCategory"
    [difficulty]="currentDifficulty"
  ></app-quiz>
</div>
